.bg4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222227;
  width: 360px;
  height: 40px;
}
.vector-icon4 {
  position: relative;
  border-radius: 0.33px;
  width: 8.5px;
  height: 10.1px;
}
.rectangle4,
.union-icon4 {
  position: relative;
  width: 9.8px;
  height: 9.8px;
}
.rectangle4 {
  border-radius: 0.65px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 8.2px;
  height: 8.2px;
}
.vector-parent1 {
  position: absolute;
  top: 10.3px;
  left: 60.5px;
  width: 231.1px;
  height: 19.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.android-status-bar-dark4,
.bg-parent1 {
  position: absolute;
  top: 740px;
  left: 0;
  width: 360px;
  height: 40px;
}
.android-status-bar-dark4 {
  top: 0;
}
.android-large-7 {
  position: relative;
  background-color: #222227;
  width: 100%;
  height: 780px;
  overflow: hidden;
}
