.arrow-back-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.75;
}
.login {
  position: relative;
  line-height: 40px;
  font-weight: 800;
}
.and-start-spending1 {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  color: #90ef92;
}
.login-parent {
  gap: 4px;
}
.arrow-back-parent3,
.frame-parent22,
.login-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent22 {
  width: 328px;
  gap: 48px;
}
.arrow-back-parent3 {
  position: absolute;
  top: 56px;
  left: calc(50% - 164px);
  gap: 16px;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-family: Urbanist;
}
